
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC' , sans-serif;
}

.experience-time-line-ul li{    
    box-sizing: border-box;
    padding: 20px 0;
    position: relative;
}


.experience-time-line-ul h2::after{
    content:'';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    top:0;
    bottom:0;
    margin:auto;
    z-index: -1;
}



.experience-time-line-ul a{
    display: block;
    background-color: white;
    border: 3px solid rgb(176, 206, 255); 
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;    
}

.experience-time-line-ul a:hover{
    background-color: rgb(50, 128, 240);  
}
.experience-time-line-ul a:hover h2,
.experience-time-line-ul a:hover p {
    color:white;
}

.experience-time-line-ul h2{
    color: #333;
    font-weight: 700;
}
.experience-time-line-ul p{
    color: #666;
    font-weight: 100;
}



@media screen and (min-width: 800px){
    .experience-time-line-container{  
        max-width: 1200px;  
    }

    

    .experience-time-line-ul{
        padding:  100px 0 400px;
    }

    .experience-time-line-ul li{
        width: 50%;
    }
    .experience-time-line-ul li:nth-child(odd){
        float:left;
        padding-right: 100px;
    }
    .experience-time-line-ul li:nth-child(even){
        float:right;
        padding-left: 100px;
        transform: translateY(50%);
    }
    .experience-time-line-ul li:nth-child(odd) h2::after{
        right:0;
    }
    
    .experience-time-line-ul li:nth-child(even) h2::after{
        left:0;
    }

    .experience-time-line-ul li:before{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #aaa;
        z-index: 2;
        top:0;
        bottom:0;
        margin:auto;
    }

        
    .experience-time-line-ul li:nth-child(odd)::after{
        right:0;    
        content:"";
        position: absolute;
        width: 3px;
        height: 100%;    
        background: #ccc;
        top:0;
        z-index: -1;
    }

    .experience-time-line-ul li:nth-child(odd)::before{
        right:-10px;
    }

    .experience-time-line-ul li:nth-child(even)::before{
        left:-10px;
    }

    .experience-time-line-ul li:last-child(odd)::after{
        height: 50%;
    }
}

@media screen and (max-width: 800px){

    .experience-time-line-ul{
        padding:  100px 0 100px;
    }

    
    .experience-time-line-ul li{
        width: 80%;          
        left:60px;
    }

    .experience-time-line-ul li::after{
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color:#ccc;
        top:0px;
        z-index: -1;
        left:-15px;
    }
    
    
      .experience-time-line-ul li:before{
        content:'';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius:50px;
        background-color: #aaa;    
        z-index: 2;    
        top: 0;
        bottom: 0;
        margin: auto;  
        left:-25px;
      }
    
      .experience-time-line-ul h2::after{
        content:'';
        position: absolute;
        height: 1px;
        width: 100px;
        background-color: #aaa;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: -1;
        left:-10px
      }
}