
    <ul class="experience-time-line-ul">  
      <div>        
      </div>
      <li>
        <a>
          <h2>旭聯科技工程師</h2>
          <p>2019,6月~至今</p>
        </a>
      </li>   
      <li>
        <a>
          <h2>哈瑪星科技工程師</h2>
          <p>2018,1月~2019,6月</p>
        </a>
      </li>   
      <li>
        <a>
          <h2>東海大學資訊研究所</h2>
          <p>2016,7月~2018,1月</p>
        </a>
      </li>  
      <li>
        <a>
          <h2>鄭州富士康實習</h2>
          <p>2017,1月~8月</p>
        </a>
      </li> 
    </ul>
  