@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC' , sans-serif;
}



.circle-img {
    margin-top: 60px;    
	width: 225px;
	border-radius: 50%;
	border: 5px solid rgb(255, 255, 255);
}


.banner-center{
    width: 100%;   
    text-align:center;
    background: linear-gradient(180deg, rgb(119, 170, 255) 50% , transparent 50%);
    margin-bottom: 40px;
}

.container{
    height: 100%;    
}

.banner-txt h1{
    height: 100%;
}
.banner-txt h1 small{}
.banner-txt h2{}
.banner-txt p{}


.personal-data-container{    
    margin:auto;    
    margin-bottom: 100px;
    max-width: 1200px;
    width : 100%;    
}

.personal-data-item{        
    padding: 10px;
    width: 80%;
}
@media screen and (min-width: 800px){
    .personal-data-container{
        display: flex;
    }
}

.title-h2{     
    background: linear-gradient(120deg, rgb(119, 170, 255) 150px , transparent 150px);
    padding: 5px;
}
.title-h2 :hover{
    background: linear-gradient(120deg, rgb(75, 141, 255) 150px , transparent 150px);
    padding: 5px;
}

.title-h2 h2{
    color:white;
    margin-left: 10px;
}



.personal-data-list a{
    margin-left: 30px;
    margin-right: 30px;
    display:block;
    padding:10px;
    border-bottom: 3px solid rgb(119, 170, 255);    
}

.experience-time-line-container{    
    margin:auto;    
    width : 100%;   
    padding: 10px; 
}



.work-ability-container{    
    margin:auto;    
    margin-bottom: 20px;
    max-width: 1200px;
    width : 100%;    
}

.work-ability-circle-img {
    float:center;
	width: 225px;
	border-radius: 50%;
	border: 5px solid rgb(255, 255, 255);
}

.work-ability-category{
    margin:auto;    
    margin-bottom: 50px;
    max-width: 1200px;
    width : 100%;        
}
@media screen and (min-width: 800px){
    .work-ability-category{
        display: flex;
        align-items: center;
    }

    .work-ability-circle-img {
        float:right;
        width: 225px;
        border-radius: 50%;
        border: 5px solid rgb(255, 255, 255);
    }        

    .work-ability-category-left-container{       
        padding: 25px;
        width: 30%;
    }

    .work-ability-category-right-container{       
        padding: 25px;
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .work-ability-category{
        text-align:center;
    }

    .work-ability-category-left-container,
    .work-ability-category-right-container{  
        margin:auto; 
        padding: 5px; 
        width:80%;   
    }
}

.work-ability-category h2{
    color: rgb(102, 161, 255); 
}

.work-ability-category-item{
    display: block;
    background-color: white;
    border: 3px solid rgb(176, 206, 255); 
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;   
}

.work-ability-category-item:hover{
    background-color: rgb(50, 128, 240);  
    color:white;
}



.autobiograp-card-container{    
    margin:auto;    
    margin-bottom: 20px;
    max-width: 1200px;
    width : 100%;    
}


.autobiograp-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    width: 80%;
    transition: 0.3s;
    border-radius: 5px;
    margin: 25px auto;
}

.autobiograp-card-head {        
    padding: 5px 20px;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:rgb(102, 161, 255); 
    color:#ffff;
}


.autobiograp-card-body {
    padding: 25px 25px;
}



.page-footer{
    background-color: rgb(50, 128, 240);  
    margin-top:50px;
    width : 100%;  
    padding: 20px 20px
}

.page-footer-col{
    color:#ffff;
    margin:auto;
    width : 50%; 
}