

  
<div class="banner-center">
  <div class="container">
    <img class="circle-img" src="https://scontent.fkhh1-1.fna.fbcdn.net/v/t1.0-9/1934988_1022376351168541_7723907186784552204_n.jpg?_nc_cat=106&ccb=2&_nc_sid=09cbfe&_nc_ohc=2129IvrnLxEAX9L04tq&_nc_ht=scontent.fkhh1-1.fna&oh=0ee60c4930860d69476eaaa02a0a6388&oe=5FFA7461" />
    <div class="banner-txt">
      <h1>盧本翔 </h1>
      <h2>(曾任)職哈瑪星科技/(現任)旭聯科技網頁工程師</h2>
      <p>台南市仁德區 | 2~3年工作經驗 | 希望職稱：網頁開發工程師</p>
    </div>
  </div>
</div>

<div class="personal-data-container">
  <div class="personal-data-item">
    <div class="title-h2">
      <h2>基本資料</h2>
    </div>    
    <div class="personal-data-list">
      <a>男性、未婚</a>
      <a>生日:85/09/12</a>      
      <a>專業:網頁開發與維護 (php、angular)</a>      
    </div>
  </div>  
  <div class="personal-data-item">
    <div class="title-h2">
      <h2>聯絡方式</h2>
    </div>    
    <div class="personal-data-list">
      <a>聯絡地址:台南市仁德區文心路</a>
      <a>信箱:aloo31124@gmail.com</a>
      <a>手機:0933600342</a>
    </div>
  </div>
</div>

<div class="experience-time-line-container">
  <div class="title-h2">
    <h2>經歷</h2>
  </div>    
  <ul class="experience-time-line-ul">  
    <li>
      <a>
        <h2>旭聯科技工程師</h2>
        <p>2019,6月~至今</p>
      </a>
    </li>   
    <li>
      <a>
        <h2>哈瑪星科技工程師</h2>
        <p>2018,1月~2019,6月</p>
      </a>
    </li>   
    <li>
      <a>
        <h2>東海大學資訊研究所</h2>
        <p>2016,7月~2018,1月</p>
      </a>
    </li>  
    <li>
      <a>
        <h2>鄭州富士康實習</h2>
        <p>2017,1月~8月</p>
      </a>
    </li> 
  </ul>
</div>
